<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Credit Card Approval Prediction</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>

<body>

<div class="navbar">

<h2><i class="fa-solid fa-credit-card"></i> Credit card predictor</h2>

<ul>

<li><a href="/">Home</a></li>

<li><a href="/predict">Prediction</a></li>

</ul>

</div>


<div class="container">

<div class="card hero">

<div class="hero-text">

<h1>

 Credit Card Approval Prediction app

</h1>

<p>

Predict whether a customer is eligible for a credit card using Artificial Intelligence,
Machine Learning.

This system analyses customer financial information and predicts approval instantly.

</p>

<br>

<p>

✔ Secure Prediction<br>
✔ Fast Response<br>
✔ ML Based Decision<br>
✔ XGBoost Model Accuracy : <b>98.59%</b>

</p>

<a href="/predict" class="btn">

Start Prediction

</a>

</div>

<div>

<img src="https://pngimg.com/uploads/credit_card/credit_card_PNG35.png" alt="credit-card pic">

</div>

</div>

</div>

<div class="footer">

<p>

© 2026 Credit Card Approval Prediction System

</p>

</div>

</body>

</html>