<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Credit Card Approval Prediction</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>

<body>

<div class="navbar">

    <h2><i class="fa-solid fa-credit-card"></i> CreditAI</h2>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/predict">Prediction</a></li>
    </ul>

</div>

<div class="container">

<div class="card">

<h1 style="text-align:center;color:#003366;margin-bottom:35px;">
Customer Information
</h1>

<form action="/result" method="POST">

<div class="form-grid">

<div class="form-group">
<label>Gender <span style="color:red">*</span></label>
<select name="CODE_GENDER" required>
<option value="">Select Gender</option>
<option value="M">Male</option>
<option value="F">Female</option>
</select>
</div>

<div class="form-group">
<label>Own a Car?</label>
<select name="FLAG_OWN_CAR" required>
<option value="">Select</option>
<option value="Y">Yes</option>
<option value="N">No</option>
</select>
</div>

<div class="form-group">
<label>Own a House?</label>
<select name="FLAG_OWN_REALTY" required>
<option value="">Select</option>
<option value="Y">Yes</option>
<option value="N">No</option>
</select>
</div>

<div class="form-group">
<label>Number of Children</label>
<input
type="number"
name="CNT_CHILDREN"
placeholder="0"
min="0"
required>
</div>

<div class="form-group">
<label>Annual Income (₹)</label>
<input
type="number"
name="AMT_INCOME_TOTAL"
placeholder="Example : 50000"
required>
</div>

<div class="form-group">
<label>Income Type</label>
<select name="NAME_INCOME_TYPE" required>

<option value="">Select Income Type</option>

<option>Working</option>
<option>Commercial associate</option>
<option>Pensioner</option>
<option>State servant</option>
<option>Student</option>

</select>
</div>

<div class="form-group">
<label>Education</label>
<select name="NAME_EDUCATION_TYPE" required>

<option value="">Select Education</option>

<option>Higher education</option>
<option>Secondary / secondary special</option>
<option>Incomplete higher</option>
<option>Lower secondary</option>
<option>Academic degree</option>

</select>
</div>

<div class="form-group">
<label>Family Status</label>
<select name="NAME_FAMILY_STATUS" required>

<option value="">Select Status</option>

<option>Married</option>
<option>Single / not married</option>
<option>Civil marriage</option>
<option>Separated</option>
<option>Widow</option>

</select>
</div>
<div class="form-group">
<label>Housing Type</label>
<select name="NAME_HOUSING_TYPE" required>

<option value="">Select Housing Type</option>

<option>House / apartment</option>
<option>With parents</option>
<option>Municipal apartment</option>
<option>Rented apartment</option>
<option>Office apartment</option>

</select>
</div>

<div class="form-group">
<label>Age (Years)</label>
<input
type="number"
name="DAYS_BIRTH"
placeholder="Example : 25"
min="0"
max="100"
required>
</div>

<div class="form-group">
<label>Years of Employment</label>
<input type="number" name="EMPLOYMENT_YEARS" min="0" max="50" required>
</div>

<!-- <div class="form-group">
<label>Mobile Available</label>
<select name="FLAG_MOBIL" required>
<option value="1">Yes</option>
</select>
</div> -->

<!-- <div class="form-group">
<label>Work Phone</label>
<select name="FLAG_WORK_PHONE" required>
<option value="">Select</option>
<option value="1">Yes</option>
<option value="0">No</option>
</select>
</div> -->

<!-- <div class="form-group">
<label>Phone Available</label>
<select name="FLAG_PHONE" required>
<option value="">Select</option>
<option value="1">Yes</option>
<option value="0">No</option>
</select>
</div> -->

<!-- <div class="form-group">
<label>Email Available</label>
<select name="FLAG_EMAIL" required>
<option value="">Select</option>
<option value="1">Yes</option>
<option value="0">No</option>
</select>
</div> -->

<div class="form-group">
<label>Occupation</label>
<select name="OCCUPATION_TYPE" required>

<option value="">Select Occupation</option>

<option>Laborers</option>
<option>Core staff</option>
<option>Managers</option>
<option>Drivers</option>
<option>Sales staff</option>
<option>Medicine staff</option>
<option>Cooking staff</option>
<option>Security staff</option>
<option>Accountants</option>
<option>Unknown</option>

</select>
</div>

<div class="form-group">
<label>Family Members</label>
<input
type="number"
name="CNT_FAM_MEMBERS"
placeholder="Example : 4"
min="1"
required>
</div>

<div class="form-group">
<label>Months Balance</label>
<input
type="number"
name="MONTHS_BALANCE"
placeholder="Example : 10000s"
required>
</div>

</div>

<br>

<button class="submit-btn">
<i class="fa-solid fa-magnifying-glass"></i>
&nbsp; Predict Credit Card Approval
</button>

</form>

</div>

</div>

</body>

</html>